{% load static %}
{% block 'ads_content' %}

<section class="testi-area-1 overflow-hidden space-bottom" data-bg-src="{% static 'assets/img/bg/testi_bg_1.png' %}">
    <div class="shape-mockup testi-bg-shape1 jump" data-right="0" data-top="50%"><img
            src="{% static 'assets/img/testimonial/testi-bg-shape_1_1.png' %}" alt="img"></div>
    <div class="shape-mockup testi-bg-shape2 spin" data-left="0" data-top="15%"><img
            src="{% static 'assets/img/testimonial/testi-bg-shape_1_2.png' %}" alt="img"></div>
    <div class="container">
        <div class="title-area text-center mb-50"><span class="sub-title"><i class="fas fa-book me-2"></i> Our
                Students Testimonials</span>
            <h2 class="sec-title">Students Say’s About Our Consultancy</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="th-carousel testi-slider1 dot-style2 row" id="testimonial-slider1" data-slide-show="2"
                    data-ml-slide-show="2" data-lg-slide-show="1" data-md-slide-show="1" data-dots="true"
                    data-arrows="false">
                    {% for comment in reviews %}
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box-bg-shape">
                                <svg width="150" height="137" viewBox="0 0 150 137" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 9.99951C0 4.47666 4.47715 -0.000488281 10 -0.000488281H140C145.523 -0.000488281 150 4.47666 150 9.99951V10.5803C150 13.3951 148.814 16.0796 146.732 17.9747L18.8619 134.394C17.0205 136.07 14.6199 137 12.1297 137H10C4.47715 137 0 132.522 0 127V9.99951Z"
                                        fill="#0D5EF4" />
                                </svg>
                            </div>
                            <div class="testi-box_content">
                                <div class="testi-box_img">
                                    {% if comment.image %}
                                    <img src="{{ comment.image.url }}" alt="{{ comment.author }}">
                                    {% else %}
                                    <img src="{% static 'default-user.png' %}" alt="Default Image">
                                    {% endif %}
                                </div>
                                <p class="testi-box_text">“{{ comment.comment }}”</p>
                            </div>
                            <div class="testi-box_bottom">
                                <div>
                                    <h3 class="testi-box_name">{{ comment.author }}</h3>
                                    <span class="testi-box_desig">Student</span>
                                </div>
                                <div class="testi-box_review">
                                    {% for i in "12345" %}
                                    {% if forloop.counter <= comment.rating %} <i class="fas fa-star text-warning"></i>
                                        {% else %}
                                        <i class="far fa-star text-muted"></i>
                                        {% endif %}
                                        {% endfor %}
                                        ({{ comment.rating }})
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}