<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduGuild - Blog Post | Insights on Courses & Admissions</title>
    <meta name="author" content="EduGuild Team">
    <meta name="description" content="Explore in-depth blog posts from EduGuild on college admissions, career paths, trending courses, and educational tips for students across India.">
    <meta name="keywords" content="EduGuild, Blog Post, College Admissions, Education News, Course Guidance, Indian Universities, Study Tips">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'assets/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" data-overlay="title"
        data-opacity="8">
        <div class="breadcumb-shape" data-bg-src="{% static 'assets/img/bg/breadcumb_shape_1_1.png' %}"></div>
        <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"><img
                src="{% static 'assets/img/bg/breadcumb_shape_1_2.png' %}" alt="shape"></div>
        <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
            <img src="{% static 'assets/img/bg/breadcumb_shape_1_3.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Blog Post</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="th-blog-wrapper space-top space-extra2-bottom">
        <div class="container">
            <div class="row gx-40">
                <div class="col-xxl-8 col-lg-7">
                    {% for blog in blogs %}
                    <div class="th-blog blog-single has-post-thumbnail">
                        <div class="blog-img">
                            <a href="">
                                {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                {% else %}
                                <img src="{% static 'assets/img/blog/default.jpg' %}" alt="Default Blog Image">
                                {% endif %}
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="author" href="{% url 'blog_detail' blog.slug %}"><i
                                        class="fas fa-light fa-user"></i>by {{ blog.author }}</a>
                                <a href="{% url 'blog_detail' blog.slug %}"><i class="fas fa-light fa-clock"></i>
                                    {{ blog.created_at|date:"d M, Y" }}</a>
                                <a href="{% url 'blog_detail' blog.slug %}"><i
                                        class="fas fa-light fa-book"></i>Category</a>
                            </div>
                            <h2 class="blog-title">
                                <a href="">{{ blog.title }}</a>
                            </h2>
                            <p class="blog-text">{{ blog.content|safe|truncatewords_html:30 }}</p>
                            <a href="{% url 'blog_detail' blog.slug %}" class="link-btn">Read More Details<i
                                    class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_search">
                            <form class="search-form"><input type="text" placeholder="Search Product..."> <button
                                    type="submit"><i class="fas fa-search"></i></button></form>
                        </div>

                        <div class="widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                {% for blog in blogs reversed %}
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="">
                                            <img src="{{ blog.image.url }}" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title">
                                            <a class="text-inherit" href="{% url 'blog_detail' blog.slug %}">
                                                {{ blog.title }}</a>
                                        </h4>
                                        <div class="recent-post-meta">
                                            <a href="{% url 'blog_detail' blog.slug %}"><i class="fas fa-calendar"></i>
                                                {{ blog.created_at }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="widget widget_banner" data-overlay="theme" data-opacity="9"
                            data-bg-src="{% static 'assets/img/widget/widget-banner-bg.png' %}">
                            <div class="widget-banner text-center">
                                <h4 class="title">Need Guidance? We're Just a Call Away</h4>
                                <div class="logo">
                                    <img src="{% static 'assets/img/logo-black.png' %}" alt="EduGuild Logo">
                                </div>
                                <h5 class="subtitle">Expert Support for Courses, Careers & Admissions</h5>
                                <a href="tel:+918800112233" class="link">+91 88001 12233</a>
                                <a href="{% url 'contact' %}" class="th-btn style7 mt-2">Contact Us Now <i
                                        class="fas fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </section>

    <!-- section footer -->
    {% include 'partials/footer.html' %}
    <!-- section footer end -->

    <div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg></div>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>