<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EduGlide - College Admissions & Education Platform in India</title>
    <meta name="author" content="EduGlide Team">
    <meta name="description" content="EduGlide is India’s trusted platform for exploring universities, colleges, and courses. Apply online and get admission guidance from top institutions.">
    <meta name="keywords" content="EduGlide, College Admissions India, Online Course Application, Indian Universities, Higher Education, Best Colleges, UG PG Courses">
    
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="th-hero-wrapper hero-1" id="hero">
        <div class="hero-slider-1 th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1"
            data-dots="true">
            <div class="th-hero-slide">
                <div class="th-hero-bg" data-overlay="title" data-opacity="8"
                    data-bg-src="{% static 'assets/img/hero/hero_bg_1_1.jpg' %}"></div>
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="hero-style1"><span class="hero-subtitle" data-ani="slideinleft"
                                    data-ani-delay="0.1s"><span>35% OFF</span> LEARN FROM TODAY</span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.4s">Education
                                    Is Create Better <span class="text-theme">Future.</span></h1>
                                <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Education can be
                                    thought of as the transmission of the values and accumulated knowledge of a society.
                                    In this sense, it is equivalent.</p>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.8s"><a
                                        class="th-btn style3">Get Started<i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-lg-end text-center">
                            <div class="hero-img1"><img src="{% static 'assets/img/hero/hero_thumb_1_1.jpg' %}"
                                    alt="hero"></div>
                        </div>
                    </div>
                </div>
                <div class="hero-shape shape1"><img src="{% static 'assets/img/hero/shape_1_1.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape2"><img src="{% static 'assets/img/hero/shape_1_2.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape3"></div>
                <div class="hero-shape shape4 shape-mockup jump-reverse" data-right="3%" data-bottom="7%"><img
                        src="{% static 'assets/img/hero/shape_1_3.png' %}" alt="shape"></div>
                <div class="hero-shape shape5 shape-mockup jump-reverse" data-left="0" data-bottom="0"><img
                        src="{% static 'assets/img/hero/shape_1_4.png' %}" alt="shape"></div>
            </div>
            <div class="th-hero-slide">
                <div class="th-hero-bg" data-overlay="title" data-opacity="8"
                    data-bg-src="assets/img/hero/hero_bg_1_2.jpg"></div>
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="hero-style1"><span class="hero-subtitle" data-ani="slideinleft"
                                    data-ani-delay="0.1s"><span>35% OFF</span> LEARN FROM TODAY</span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.4s">Edura
                                    Leads To A Brighter <span class="text-theme">Future.</span></h1>
                                <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Education can be
                                    thought of as the transmission of a societys values and accumulated knowledge. In
                                    this sense, it is equivalent.</p>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.8s"><a
                                        class="th-btn style3">Get Started<i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-lg-end text-center">
                            <div class="hero-img1"><img src="{% static 'assets/img/hero/hero_thumb_1_2.jpg' %}"
                                    alt="hero"></div>
                        </div>
                    </div>
                </div>
                <div class="hero-shape shape1"><img src="{% static 'assets/img/hero/shape_1_1.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape2"><img src="{% static 'assets/img/hero/shape_1_2.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape3"></div>
                <div class="hero-shape shape4 shape-mockup jump-reverse" data-right="3%" data-bottom="7%"><img
                        src="{% static 'assets/img/hero/shape_1_3.png' %}" alt="shape"></div>
                <div class="hero-shape shape5 shape-mockup jump-reverse" data-left="0" data-bottom="0"><img
                        src="{% static 'assets/img/hero/shape_1_4.png' %}" alt="shape"></div>
            </div>
            <div class="th-hero-slide">
                <div class="th-hero-bg" data-overlay="title" data-opacity="8"
                    data-bg-src="{% static 'assets/img/hero/hero_bg_1_3.jpg' %}"></div>
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="hero-style1"><span class="hero-subtitle" data-ani="slideinleft"
                                    data-ani-delay="0.1s"><span>35% OFF</span> LEARN FROM TODAY</span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.4s">The
                                    Worlds Best Online Education <span class="text-theme">Institute.</span></h1>
                                <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Education can be
                                    thought of as the transmission of the values and accumulated knowledge of a society.
                                    In this sense, it is equivalent.</p>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.8s"><a
                                        class="th-btn style3">Get Started<i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-lg-end text-center">
                            <div class="hero-img1"><img src="{% static 'assets/img/hero/hero_thumb_1_3.jpg' %}"
                                    alt="hero"></div>
                        </div>
                    </div>
                </div>
                <div class="hero-shape shape1"><img src="{% static 'assets/img/hero/shape_1_1.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape2"><img src="{% static 'assets/img/hero/shape_1_2.png' %}" alt="shape">
                </div>
                <div class="hero-shape shape3"></div>
                <div class="hero-shape shape4 shape-mockup jump-reverse" data-right="3%" data-bottom="7%"><img
                        src="{% static 'assets/img/hero/shape_1_3.png' %}" alt="shape"></div>
                <div class="hero-shape shape5 shape-mockup jump-reverse" data-left="0" data-bottom="0"><img
                        src="{% static 'assets/img/hero/shape_1_4.png' %}" alt="shape"></div>
            </div>
        </div>
    </div>
    <div class="space-top">
        <div class="container">
            <div class="category-sec-wrap">
                <div class="shape-mockup category-shape-arrow d-xl-block d-none"><img
                        src="{% static 'assets/img/normal/category-arrow.svg' %}" alt="img"></div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="title-area mb-25 mb-lg-0 text-xl-start text-center"><span class="sub-title"><i
                                    class="fas fa-book me-2"></i> University Categories</span>
                            <h2 class="sec-title">Explore Top University </h2><a href="" class="th-btn">View
                                All University <i class="fas fa-regular fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="row slider-shadow th-carousel category-slider" data-slide-show="4"
                            data-ml-slide-show="3" data-md-slide-show="3" data-sm-slide-show="2" data-arrows="true"
                            data-xl-arrows="true">
                            <!-- University 1 -->
                            {% for university in universities %}
                            <div class="col-md-6 col-xl-4">
                                <div class="category-card">
                                    <div class="category-card_icon">
                                        <img src="{{university.image.url}}" alt="image">
                                    </div>
                                    <div class="category-card_content">
                                        <h3 class="category-card_title">
                                            <a href="">{{ university.name|slice:":20" }}{% if university.name|length > 20 %}...{% endif %}</a>
                                        </h3>
                                        <p class="category-card_text">{{university.rank}}</p>
                                        <a href="" class="th-btn">Learn More <i
                                                class="fa-solid fa-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space overflow-hidden" id="about-sec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="img-box1 mb-40 mb-xl-0">
                        <div class="img1"><img class="tilt-active" src="{% static 'assets/img/normal/about_1_1.png' %}"
                                alt="About">
                        </div>
                        <div class="about-grid" data-bg-src="{% static 'assets/img/normal/about_1_3.png' %}">
                            <h3 class="about-grid_year"><span class="counter-number">10</span>k<span
                                    class="text-theme">+</span></h3>
                            <p class="about-grid_text">Students Active Our Courses</p>
                        </div>
                        <div class="img2"><img class="tilt-active" src="{% static 'assets/img/normal/about_1_2.png' %}"
                                alt="About">
                        </div>
                        <div class="shape-mockup about-shape1 jump" data-left="-67px" data-bottom="0"><img
                                src="{% static 'assets/img/normal/about_1_shape1.png' %}" alt="img"></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="title-area mb-30">
                        <span class="sub-title">
                            <i class="fas fa-book me-2"></i> About
                        </span>
                        <h2 class="sec-title">Welcome to EduGlide.</h2>
                    </div>
                    <p class="mt-n2 mb-25">
                        EduGlide is your trusted platform for seamless UG and PG admissions. We connect students
                        directly with top colleges across India, ensuring a hassle-free admission process.
                    </p>
                    <p class="mb-30">
                        Whether you're looking for popular colleges or specialized programs, EduGlide simplifies the
                        admission journey, providing direct access to institutions and real-time updates.
                    </p>

                    <div class="row align-items-center">
                        <div class="col-md-auto">
                            <div class="about-grid_img mb-30 mb-md-0"><img
                                    src="{% static 'assets/img/normal/about_1_4.png' %}" alt="img"></div>
                        </div>
                        <div class="col-md-7">
                            <ul>
                                <li>Direct admission to top UG & PG colleges</li>
                                <li>Explore popular and high-demand courses</li>
                                <li>Connect with leading colleges effortlessly</li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group mt-40">
                        <a class="th-btn">About More<i class="fas fa-regular fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="space" data-bg-src="{% static 'assets/img/bg/course_bg_1.png' %}" id="course-sec">
        <div class="container">
            <div class="mb-35 text-center text-md-start">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <div class="title-area mb-md-0"><span class="sub-title"><i class="fas fa-book me-2"></i> Popular
                                Collage</span>
                            <h2 class="sec-title">POPULAR COLLAGES IN INDIA</h2>
                        </div>
                    </div>
                    <div class="col-md-auto"><a href="{% url 'colleges' %}" class="th-btn">View All Collages<i
                                class="fa-solid fa-arrow-right ms-2"></i></a></div>
                </div>
            </div>
            <div class="row slider-shadow th-carousel course-slider-1" data-slide-show="4" data-ml-slide-show="3"
                data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                {% for collage in colleges %}
                <div class="col-md-6 col-lg-4">
                    <div class="course-box">
                        <div class="course-img"><img src="{{collage.image.url}}" alt="img">
                            <!-- <span
                                class="tag"><i class="fas fa-clock"></i> 03 WEEKS</span> -->
                        </div>
                        <div class="course-content">
                            <div class="course-rating">
                                <!-- <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5">--><span
                                    style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                <!-- </div>-->(4.7)
                            </div>
                            <h3 class="course-title"><a
                                    href="{% url 'college_details' collage.slug %}">{{collage.name}}</a></h3>
                            <div class="course-meta"><span><i class="fas fa-file"></i>Lesson 8</span> <span><i
                                        class="fas fa-user"></i>Students 60+</span> <span><i
                                        class="fas fa-chart-simple"></i>Beginner</span></div>
                            <div class="course-author">
                                <div class="author-info"><img src="{{collage.image.url}}" alt="author"> <a href=""
                                        class="author-name">{{collage.name}}</a></div>
                                <div class="offer-tag">Free</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

    <!-- start blog section -->
    {% include 'partials/get-course.html' %}
    <!-- end blog section -->
 
    <div class="why-area-1 space overflow-hidden">
        <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%"><img
                src="{% static 'assets/img/normal/about_1_shape1.png' %}" alt="img"></div>
        <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div>
        <div class="shape-mockup why-shape-3 jump-reverse" data-bottom="25%" data-right="-3%"><img
                src="{% static 'assets/img/normal/wcu_1_shape2.png' %}" alt="img"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="wcu-img-1">
                        <div class="img1"><img src="{% static 'assets/img/normal/wcu_1_1.png' %}" alt="img"></div>
                        <div class="student-count jump-reverse">
                            <h5 class="title"><span class="text-theme"><span class="counter-number">10</span>k+</span>
                                Active Students</h5><img src="{% static 'assets/img/normal/student-group_1_1.png' %}"
                                alt="img">
                        </div>
                        <div class="text-end"><a class="th-btn mt-30" href="{% url 'contact' %}">Get Started <i
                                    class="fas fa-arrow-right ms-1"></i></a></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="wcu-wrap1">
                        <div class="title-area mb-25"><span class="sub-title"><i class="fas fa-book me-2"></i> WHY
                                CHOOSE US</span>
                            <h2 class="sec-title">Thousands Of Experts Around The World Ready To Help.</h2>
                            <p class="sec-text mt-20">Synergistically visualize alternative content before cross
                                functional core Rapidiously administra standardized value via focused benefits.
                                Rapidiously redefine highly efficient niche markets with plug-and-play materials
                                professionally seize client centric solutions</p>
                        </div>
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon"><i class="fas fa-check-circle"></i></div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">World Class Trainers</h3>
                                        <p class="wcu-box_text">Seamlessly envisioneer tactical data through services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon"><i class="fas fa-check-circle"></i></div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Easy Learning</h3>
                                        <p class="wcu-box_text">Seamlessly envisioneer tactical data through services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon"><i class="fas fa-check-circle"></i></div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Flexible</h3>
                                        <p class="wcu-box_text">Seamlessly envisioneer tactical data through services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon"><i class="fas fa-check-circle"></i></div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Affordable Price</h3>
                                        <p class="wcu-box_text">Seamlessly envisioneer tactical data through services.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="counter-area-1 bg-theme" data-bg-src="assets/img/bg/counter-bg_1.png">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">3.9</span>k<span
                                class="fw-normal">+</span></h2>
                        <p class="counter-card_text"><strong>Successfully</strong> Trained</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">15.8</span>k<span
                                class="fw-normal">+</span></h2>
                        <p class="counter-card_text"><strong>Classes</strong> Completed</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">97.5</span>k<span
                                class="fw-normal">+</span></h2>
                        <p class="counter-card_text"><strong>Satisfaction</strong> Rate</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">100.2</span>k<span
                                class="fw-normal">+</span></h2>
                        <p class="counter-card_text"><strong>Students</strong> Community</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ads section start -->
    {% include 'partials/ads.html' %}
    <!-- ads section end -->




    <!-- comment section start -->
    {% include 'partials/comments.html' %}
    <!-- comment section end -->



    <!-- start blog section -->
    {% include 'partials/blog.html' %}
    <!-- end blog section -->





    <!-- Footer section start -->
    {% include 'partials/footer.html' %}
    <!-- Footer section end -->


    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>